fastapi                    
uvicorn[standard]           
pydantic                 
pydantic-settings           
google-generativeai
google-genai
motor
pymilvus
python-dotenv               
langchain-text-splitters
pymongo